@model ProyectoFinal1.Models.Usuario

<form method="post" asp-action="Registrar" asp-controller="Cuenta" class="needs-validation" novalidate>
    <h1 class="h3 mb-3 fw-normal text-center">Registrar</h1>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre de Usuario" required asp-for="nombreUsuario">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <div class="invalid-feedback">
            Por favor, ingresa tu nombre de usuario.
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="apellido" placeholder="Apellido" required asp-for="apellido">
        <label for="apellido">Apellido</label>
        <div class="invalid-feedback">
            Por favor, ingresa tu apellido.
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email" required asp-for="email">
        <label for="email">Email</label>
        <div class="invalid-feedback">
            Por favor, ingresa un email válido.
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" required asp-for="contrasena">
        <label for="contrasena">Contraseña</label>
        <div class="invalid-feedback">
            Por favor, ingresa una contraseña.
        </div>
    </div>
<!-- <a href="@Url.Action("Index", "Home")" class="w-100 btn btn-lg btn-primary">Registrar</a> -->

    <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
</form>

<!-- Mostrar mensajes de error o éxito aquí -->
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Error
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success mt-3">
        @ViewBag.Success
    </div>
}

@section Scripts {
    <script>
        (function () {
            'use strict';

            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
}
