
@{
    ViewData["Title"] = "Crear Curso";
}

<h1>Crear un nuevo Curso</h1>

<form asp-action="CrearCurso" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nombreCurso">Nombre del Curso</label>
        <input type="text" class="form-control" id="nombreCurso" name="nombreCurso" required />
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
    </div>

    <div class="form-group">
        <label for="temario">Temario</label>
        <textarea class="form-control" id="temario" name="temario" rows="4" required></textarea>
    </div>

    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" required />
    </div>

    <div class="form-group">
    <label for="idProfesor">Profesor</label>
    <select class="form-control" id="idProfesor" name="idProfesor" required>
        <option value="">Seleccionar un Profesor</option>
        @foreach (var profesor in ViewBag.Profesores)
        {
            <option value="@profesor.Value">@profesor.Text</option>
        }
    </select>
</div>


    <button type="submit" class="btn btn-primary">Crear Curso</button>
</form>
