@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Edu+</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="content">
        <h1>Bienvenido a Edu+</h1>
        <p class="textonosotros">
            Somos Edu+, una plataforma educativa dedicada a proporcionar una amplia variedad de cursos en línea para satisfacer tus necesidades de aprendizaje. Nuestro objetivo es brindarte acceso a la mejor educación desde la comodidad de tu hogar o lugar de trabajo.
        </p>
        <p class="textonosotros">
            Ya sea que estés buscando mejorar tus habilidades profesionales, aprender algo nuevo por interés personal o prepararte para nuevos desafíos en tu carrera, tenemos cursos diseñados para ti. Nuestros instructores son expertos en sus campos y están comprometidos a ayudarte a alcanzar tus objetivos de aprendizaje de manera efectiva y eficiente.
        </p>
        <p class="textonosotros">
            Explora nuestra amplia gama de cursos en áreas como programación, diseño, negocios, idiomas y mucho más. Todos nuestros cursos están diseñados para ser accesibles y flexibles, lo que te permite aprender a tu propio ritmo y según tu horario.
        </p>
        <p class="textonosotros">
            Únete a nuestra comunidad de estudiantes y comienza tu viaje de aprendizaje con Edu+ hoy mismo. ¡Esperamos ayudarte a alcanzar tu máximo potencial!
        </p>
    </div>
</body>
</html>
