@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Edu+</title>
</head>
    <div class="content">
         <h1>Bienvenido a Edu+</h1>
        <p>Somos Edu+, una plataforma educativa dedicada a proporcionar una amplia variedad de cursos en línea para satisfacer tus necesidades de aprendizaje. Nuestro objetivo es brindarte acceso a la mejor educación desde la comodidad de tu hogar o lugar de trabajo.</p>
        <p>Ya sea que estés buscando mejorar tus habilidades profesionales, aprender algo nuevo por interés personal o prepararte para nuevos desafíos en tu carrera, tenemos cursos diseñados para ti. Nuestros instructores son expertos en sus campos y están comprometidos a ayudarte a alcanzar tus objetivos de aprendizaje de manera efectiva y eficiente.</p>
        <p>Explora nuestra amplia gama de cursos en áreas como programación, diseño, negocios, idiomas y mucho más. Todos nuestros cursos están diseñados para ser accesibles y flexibles, lo que te permite aprender a tu propio ritmo y según tu horario.</p>
        <p>Únete a nuestra comunidad de estudiantes y comienza tu viaje de aprendizaje con Edu+ hoy mismo. ¡Esperamos ayudarte a alcanzar tu máximo potencial!</p>
    </div>
    </div>
</html>

